---
global:
    resolve_timeout: 5m

route:
  receiver: "default-receiver"
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  group_by: ['alertname', 'service']

receivers:
  - name: "default-receiver"
    webhook_configs:
     - url: "http://127.0.0.1:5001/"

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'service']

